<div class="appContainer ">
    <div class="componentMainContainer redBorder">
        <div class="containerHeader redBackground ">
            <p>Įmonių sąrašas</p>
        </div>
        <div class=" containerBody">
            <table class="table">
                <thead>
                    <tr class="redBackground">
                        <th>Pavadinimas</th>
                        <th>Įmonės kodas</th>
                        <th>PVM kodas</th>
                        <th>Adresas</th>
                        <th>El. paštas</th>
                        <th>Telefonas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="redBorderBottom" *ngFor="let company of companies; let i=index">
                        <td>{{ company.name }}</td>
                        <td>{{ company.companyCode }}</td>
                        <td>{{ company.VATcode }}</td>
                        <td>{{ company.address }}</td>
                        <td>{{ company.email }}</td>
                        <td>{{ company.phone }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>