<section>
    <nav>
        <div class="brand">
            <div class="brandLogo">
                <img src="./assets/images/logo.png" alt="">
            </div>
            <div class="brandName">
                <img src="./assets/images/productName.png" alt="">
            </div>
            <div class="sq sq1"></div>
            <div class="sq sq2"></div>
            <div class="sq sq3"></div>
            <div class="sq sq4"></div>
            <div class="sq sq5"></div>
            <div class="sq sq6"></div>
            <div class="sq sq7"></div>
            <div class="sq sq8"></div>
            <div class="sq sq9"></div>
        </div>
        <div class="navMenu">

            <a class="navLink" aria-current="page" routerLink="company/add">Pridėti naują įmonę</a>

            <a class="navLink" aria-current="page" routerLink="contact/add">Pridėti naują kontaktą</a>
        </div>
    </nav>
</section>